 /* base styles*/
 body{color:blue; margin:0;} 
 hr{display:none;}
 /*reusable*/
 .constrain{ max-width: 960px; margin:0 auto; padding:10px 20px;}
 .button{text-decoration: none;padding: 8px 16px; border-radius: 20px; transition: background-color 0.3s;}
 .button-orange{background-color: orangered;color: white;}
 .button-orange:hover{background-color: orange;}
 .button-white{background-color: white;color: orange;}
 .button-white:hover{background-color: white;}
 /* header*/
 .header{background-color: black; 
      }
     .header .constrain{display:flex; justify-content: space-between; align-items: center;}
 .header h1{margin:0;padding: 0;}
 .header h1 span{display:none;}
 .header h1 img{width:30px;}
 .header a{background-color: #ccc; text-decoration: none; font-size: 14px; 
     transition:color 1s;}
 .header a:hover{color: white;}
 .header nav ul{display:flex; list-style:none; margin: 0; padding: 0;}
 .header nav ul a{margin-left:50px;}
 /*product*/
 .product{display: flex;align-items: center; border-bottom: 1px solid #ccc;padding: 100px 0;}
 .product:first-child{padding-top: 2px;}
 .product:last-child{border-bottom: none;}
 .product-reverse{flex-direction: row-reverse;}
 .product-text, .product-image{flex: 50% 0 0;}
 .product-text h1{font-size: 48px; margin-bottom: 25px;}
 .product-text h2{font-size: 21px;}
 .product-text p{font-size: 21px; line-height: 1.4;}
 .product-nav{margin-top: 30px;}
 .product-nav ul{list-style: none;margin: 0; padding: 0; display: flex;}
 .product-nav ul a{margin-right: 20px;}
 .product-image img{width:100%;}
 /*footer*/
 .footer{border-top: 1px solid #ccc; padding: 20px 0;}

 /*cookies banner*/
 .cookies-banner{
    background-color:#333; 
    color:#ddd; padding:30px 0;
    // position:fixed;
     bottom:0;
     width:100%; 
     transform:translateY(100%); 
     //transition: transform 0.3s;
    }
    // .cookies-banner.show{transform:translateY(0%);}
 .cookies-banner .constrain{display:flex;justify-content:space-between;}
 .cookies-banner h1{margin-top:0;}
 .cookies-banner p{margin-bottom:0;}